

/* #region section two */
.section-two-container-two {
  max-width: 1030px;
}

.section-two {
  padding-bottom: 50px;
}

.section-two-title {
  max-width: 506px;
}

.section-two-list {
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 50px;
}

.section-two-list-item {
  width: calc((100% - 90px) / 4);
}

.span-section-two {
  width: 54px;
  height: 54px;
  background: #02897a;
  margin-bottom: 26px;
}

.section-two-list-title {
  margin-bottom: 13px;
}
.section-two-list-text {
  text-align: left;
}

.section-two-button {
  margin: 0 auto;
}

/* #endregion section two */

/* #region section three */
.section-three {
  padding-bottom: 100px;
}

.section-three-container-three {
  display: flex;
  gap: 84px;
  justify-content: space-between;
  align-items: center;
}

.section-three-wrapper {
  max-width: 486px;
  padding: 41px 0;
}

.section-three-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}

.section-three-title-span {
  display: block;
  margin-top: 8px;
  font-weight: 700;
  font-size: 32px;
}

.section-three-text {
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.section-three-list {
  margin-top: 30px;
}

.section-three-list-item:nth-child(2) {
  margin-top: 25px;
}

.section-three-list-item-text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.section-three-list-item-tittle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

/* #endregion section three */

/* #region section four */

.section-four {
  padding-bottom: 100px;
}

.section-four-wrapper-one {
  display: flex;
  gap: 84px;
  justify-content: flex-start;
  align-items: center;
}

.section-four-wrapper-two {
  padding: 41px 35px 40px 0;
  max-width: 440px;
}

.section-four-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}

.section-four-title-span {
  display: block;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-top: 8px;
}

.section-four-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-top: 25px;
}

.section-four-list {
  margin-top: 30px;
}

.section-four-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.section-four-icon-container {
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  background-color: #f90;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.section-four-list-item:nth-child(2) .section-four-icon-container {
  background-color: #f03e3d;
}

.section-four-list-item:nth-child(3) .section-four-icon-container {
  background-color: #4d8dff;
}

.section-four-icon {
  fill: #fff;
}

.section-four-list-item:not(:last-child) {
  margin-bottom: 25px;
}

.section-four-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

/* #endregion section four */

/* #region section five */
.section-five {
  padding-bottom: 150px;
}

.section-five-wrapper-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 84px;
}

.section-five-wrapper-two {
  padding: 41px 0;
  max-width: 434px;
}

.section-five-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}

.section-five-title-span {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  display: block;
  margin-top: 8px;
}

.section-five-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-top: 25px;
}

.section-five-list {
  margin-top: 30px;
}

.section-five-list-item:last-child {
  margin-top: 25px;
}

.section-five-list-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.section-five-list-item-text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

/* #endregion section five */

/* #region section six */
.section-six {
  padding-bottom: 100px;
}

.section-six-wrapper-one {
  max-width: 916px;
  margin: 0 auto;
}

.section-six-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin: 0 auto 25px;
}

.section-six-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  margin: 0 auto;
  max-width: 542px;
}

.section-six-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 25px;
  margin-top: 40px;
}

.section-six-list-item {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  width: calc((100% - 91px) / 2);
}

.section-six-list-item:nth-child(2),
.section-six-list-item:nth-child(3) {
  flex-direction: row-reverse;
}

.section-six-list-item-text {
  width: 281px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  background-color: #fff;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  padding: 13px 0;
}

.section-six-btn {
  margin: 50px auto 0;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background-color: #02897a;
}

/* #endregion section six */

/* #region section seven */
.section-seven {
  padding-bottom: 171px;
}

.section-seven-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}

.section-seven-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  max-width: 419px;
}

.section-seven-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.section-seven-wrapper-one {
  width: 100%;
  padding-right: 50px;
}

.section-seven-list-item {
  width: calc((100% - 60px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.section-seven-list-item:nth-child(2) .section-seven-list-item-title {
  color: #02897a;
}

.section-seven-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.section-seven-span {
  font-weight: 700;
}

.section-seven-list-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66;
  color: #22343d;
}

/* #endregion section seven */

/* #region section eight */
.section-eight {
  padding-bottom: 100px;
}

.section-eight-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
}


.section-eight-text {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
}

.section-eight-list {
  display: flex;
  gap: 72px;
  justify-content: space-between;
}

.section-eight-list-item {
  width: calc((100% - 144px) / 3);
  padding: 32px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section-eight-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  text-align: center;
  margin-bottom: 8px;
}

.section-eight-list-text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
  margin-bottom: 16px;
}

.section-eight-list-item:nth-child(2) {
  background: #02897a;
}

.section-eight-list-item:nth-child(2)>.section-eight-list-title {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.section-eight-list-item:nth-child(2) .section-eight-list-text {
  color: #fff;
}

.section-eight-list-item:nth-child(3)>.section-eight-list-title {
  font-family: 'Montserrat', sans-serif;
}

.section-eight-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.section-eight-list-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}

.section-eight-list-subcontainer {
  margin-left: 7px;
}

.section-eight-list-item:nth-child(2) .section-eight-list-subcontainer {
  margin-left: 10px;
}

.section-eight-list-sign {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}

.section-eight-list-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}

.section-eight-list-subtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.section-eight-list-item:nth-child(2) .section-eight-list-subtitle {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.section-eight-list-item:nth-child(2) .section-eight-list-sign {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #fff;
}

.section-eight-list-item:nth-child(2) .section-eight-list-subtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}

.section-eight-endlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.section-eight-endlist-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  color: #22343d;
}

.section-eight-btn {
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background-color: #02897a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.section-eight-list-item:nth-child(2) .section-eight-btn {
  background-color: #fff;
  color: #02897a;
}

/* #endregion section eight */

/* #region section nine */
.section-nine {
  padding-bottom: 100px;
}

.section-nine-wrapper-one {
  max-width: 1130px;
}

.section-nine-list {
  display: flex;
  gap: 65px;
  justify-content: space-between;
  align-items: flex-end;
}

.section-nine-list-item {
  padding: 28px 26px;
  width: calc((100% - 129px) / 3);
}

.section-nine-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78125;
  letter-spacing: 0.01em;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}

.section-nine-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
  max-width: 537px;
  margin: 0 auto 40px;
}

.section-nine-star-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.icon-star {
  fill: #f3cd03;
}

.section-nine-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-bottom: 16px;
}

.section-nine-list-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

.section-nine-list-subtext {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}

.section-nine-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

/* #endregion section nine */

/* #region section ten */
.section-ten {
  padding-bottom: 100px;
}

.section-ten-customer {
  padding: 150px 0px;

}

.container-ten {
  margin: 0 auto;
  padding: 0 46px 0 51px;
  border-radius: 32px;
  max-width: 955px;
  background-color: #02897a;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.section-ten-wrapper-one {
  padding: 49px 0 56px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-ten-title {
  margin-bottom: 46px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
}

.section-ten-btn {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
}

.section-ten-btn-customer {
  color: #22343d;
}

/* #endregion section ten */

/* #region footer */

.footer-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-bottom: 18px;
}

.footer-link-icon {
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-footer {
  fill: #edfffc;
  stroke-width: 2px;
  stroke: #02897a;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-container-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  /* margin-bottom: 8px; */
}

.footer-container-form-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 30px;
}

.footer-container-form-title-customer {
  margin-bottom: 34px;
}

.footer-container-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: #22343d;
}

.footer-container-logo {
  margin-right: auto;
}

.footer-container-resource-legal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 325px;
}

.footer-form-input-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.footer-form-input-wrapper-customer {
  margin-bottom: 21px;
}

.icon-mobile-phone {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #02897a;
}

.footer-form-input {
  outline: transparent;
  width: 325px;
  height: 48px;
  padding: 10px 42px;
  background-color: #fff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.footer-form-input-customer {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  background;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.footer-form-btn {
  border-radius: 4px;
  width: 131px;
  height: 39px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.footer-end-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #22343d;
}

/* #endregion footer */





/* CUSTOMERS */

/* #region customers clients */
.section-clients {
  padding: 100px 0 117px;
}

.section-clients-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #22343d;
}

.section-clients-list {
  display: flex;
  gap: 64px;
  justify-content: center;
}

/* #endregion customers clients */


/* #region customers choose-product*/
.section-choose-product {
  padding: 24px 0 68px;
  background: #f5f5f5;
}

.section-choose-product-container {
  max-width: 1155px;
}

.section-choose-product-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}

.span-three-customer {
  background-color: #f03e3d;
}

.section-choose-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 40px 50px;
  width: calc((100% - 60px)/3);
}

.section-choose-product-item-text {
  text-align: center;
}

/* #endregion customers choose-product*/



/* #region customers product-work*/

.section-product-work {
  padding: 101px 0 115px;
}

.section-product-work-title {
  margin-bottom: 73px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}

.section-product-work-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 78px;
}

.section-product-work-list-item {
  display: flex;
  justify-content: center;
}

.section-product-work-wrapper {
  max-width: 387px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-product-work-wrapper-one {
  margin-left: 89px;
}

.section-product-work-wrapper-two {
  margin-right: 76px;
}

.section-product-work-wrapper-three {
  margin-left: 88px;
}

.section-product-work-btn {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.section-product-work-list-item-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.section-product-work-list-item-subtitle {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.section-product-work-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

/* #endregion customers product-work*/


/* #region customers received-offers*/
.section-received-offers {
  padding: 35px 0 45px;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.section-received-offers-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 537px;
  margin: 0 auto 93px;
}

.section-received-offers-list {
  margin-bottom: 195px;
  display: flex;
  justify-content: center;
  gap: 227px;
}

.section-received-offers-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-received-offers-list-item-span {
  margin-bottom: 27px;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  background-color: #ffefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-received-offers-list-item-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 16px;

}

.received-offers-list-item-subtitle-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  color: #22343d;
}

.received-offers-list-item-subtitle-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
  margin-top: 12px;
}

/* #endregion customers received-offers*/




/* PRICING */



/* #region section eight */


.section-eight-pricing {
  padding: 50px 0 150px;
}

.section-eight-pricing-title {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 32px;
}

.section-eight-pricing-title-text {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.section-eight-pricing-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #22343d;
    margin-bottom: 49px;
}

/* #endregion section eight */



/*#region pricing-enterprise */

.section-pricing-enterprise {
  padding: 53px 0 51px;
}

.section-pricing-enterprise-title {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 16px;
  text-align: center;
}

.section-pricing-enterprise-subtitle {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 8px;
  text-align: center;
}

.section-pricing-enterprise-text {
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
  margin-bottom: 32px;
  text-align: center;
}

.section-pricing-enterprise-btn {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
}

/*#endregion pricing-enterprise */




/*#region pricing enterpreneur */

.section-pricing-enterpreneur {
  padding: 294px 0 6px;
}

.section-pricing-enterpreneur-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 56px;
  text-align: center;
}

.section-pricing-enterpreneur-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.section-pricing-enterpreneur-wrapper-two {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 16px;
}

.section-pricing-enterpreneur-span {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f4f5f7;
}

.section-pricing-enterpreneur-item-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
}

.section-pricing-enterpreneur-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d
}

/*#endregion pricing enterpreneur */



/*#region pricing question*/

.section-pricing-question-container {
  max-width: 855px;
}

.title-section-pricing-question {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 8px;
}

.text-section-pricing-question {
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
  text-align: center;
  margin-bottom: 50px;
}

.section-pricing-question-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.section-pricing-question-item-title {
  font-weight: 500;
  font-size: 18px;
  color: #22343d;
}

.section-pricing-question-item-text {
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
  margin-top: 14px;
}

.section-pricing-question-summary {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.section-pricing-question-summary::before {
  content: '';
  background-image: url('../images/pricing/plus-circle.png');
  width: 24px;
  height: 24px;
  display: block;
}

details[open] .section-pricing-question-summary::before {
  background-image: url('../images/pricing/minus-circle.png');
}

/*#endregion pricing question */