


/* CUSTOMERS */

/* #region customers clients */
.section-clients {
  padding-block: 100px 117px;
}

.section-clients-title {
  margin-bottom: 50px;
  font-size: 40px;
}

.section-clients-list {
  display: flex;
  gap: 64px;
  justify-content: center;
}

/* #endregion customers clients */


/* #region customers choose-product*/
.section-choose-product {
  padding: 24px 0 68px;
  background: #f5f5f5;
}

.section-choose-product-container {
  max-width: 1155px;
}

.section-choose-product-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}

.span-three-customer {
  background-color: #f03e3d;
}

.section-choose-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 40px 50px;
  width: calc((100% - 60px)/3);
}

.section-choose-product-item-text {
  text-align: center;
}

/* #endregion customers choose-product*/



/* #region customers product-work*/

.section-product-work {
  padding: 101px 0 115px;
}

.section-product-work-title {
  margin-bottom: 73px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
}

.section-product-work-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 78px;
}

.section-product-work-list-item {
  display: flex;
  justify-content: center;
}

.section-product-work-wrapper {
  max-width: 387px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-product-work-wrapper-one {
  margin-left: 89px;
}

.section-product-work-wrapper-two {
  margin-right: 76px;
}

.section-product-work-wrapper-three {
  margin-left: 88px;
}

.section-product-work-btn {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.section-product-work-list-item-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.section-product-work-list-item-subtitle {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.section-product-work-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

/* #endregion customers product-work*/


/* #region customers received-offers*/
.section-received-offers {
  padding: 35px 0 45px;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.section-received-offers-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 537px;
  margin: 0 auto 93px;
}

.section-received-offers-list {
  margin-bottom: 195px;
  display: flex;
  justify-content: center;
  gap: 227px;
}

.section-received-offers-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-received-offers-list-item-span {
  margin-bottom: 27px;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  background-color: #ffefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-received-offers-list-item-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 16px;

}

.received-offers-list-item-subtitle-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  color: #22343d;
}

.received-offers-list-item-subtitle-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
  margin-top: 12px;
}

/* #endregion customers received-offers*/




